canvas {
    outline: none;
    display: block;
}




.spline-watermark {
    position: absolute;
    z-index: 4;
    bottom: 20px;
    right: 20px;
    width: 137px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 12px;
    background: linear-gradient(180deg, #16181C 0%, #121316 100%);
    box-shadow: inset 0px -2px 0px -1px #060709, inset 0px 1px 0px rgba(255, 255, 255, 0.04);
}
.spline-watermark span {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(https://app.spline.design/_assets/_icons/icon_favicon32x32.png);
    background-size: cover;
}
.spline-watermark svg {
    display: block;
    margin-right: 2px;
}
.spline-watermark:hover {
    background: linear-gradient(180deg, #1B1C21 0%, #17181C 100%);
}