:root {
  --color-primary: #ff6b00;
  --color-secondary: #0066ff;
  --color-text-marron: #9F5B3DD9;
}

.flash-text-primary {
  color: var(--color-primary) !important;
}

.flash-text-secondary {
  color: var(--color-secondary) !important;
}

.flash-text-white {
  color: white !important;
}

.flash-navbar {
  height: 90px !important;
}

.flash-first-section {
  height: 95vh;
  position: relative;
  /* background-image: url("assets/img/bg-landing-section-first.svg"); */
  background-size: cover;
  box-sizing: border-box;
}

.flash-first-section .title-first-section {
  font-size: 0.85rem;
}

.flash-first-section .bot-flaschat {
  right: 0;
  top: 80px;
  display: none;
}

.flash-first-section-info {
  padding-top: 10px;
}

.flash-first-section-text {
  margin-top: 15px;
}

.flash-first-section-text > p {
  font-size: 12px;
}

.flash-first-section-description {
  margin-top: 30px;
  font-size: 20px;
  width: 100%;
  color: var(--color-text-marron);
}

@media (min-width: 481px) {
  .flash-first-section .title-first-section {
    font-size: 1.8rem;
  }
}

@media (min-width: 720px) {
  .flash-first-section .title-first-section {
    font-size: 3rem;
  }

  .flash-first-section-info {
    padding-top: 30px;
  }

  .flash-first-section-text {
    margin-top: 45px;
  }

  .flash-first-section-text > p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .flash-first-section .title-first-section {
    font-size: 3.6rem;
  }

  .flash-first-section-info {
    padding-top: 60px;
  }

  .flash-first-section-text {
    margin-top: 75px;
  }

  .flash-first-section-text > p {
    font-size: 18px;
  }

  .flash-first-section .bot-flaschat {
    display: block;
  }

  .flash-first-section-description {
    width: 40%;
    font-size: 25px;
    margin-top: 120px;
  }

  .flash-first-section-description > p {
    font-size: 20px !important;
  }
}
